streamlit
groq
edge-tts
eng_to_ipa
numpy
opencv-python-headless
mediapipe
streamlit-webrtc
av
librosa
plotly           # For zoomable, interactive pitch/melody graphs
noisereduce      # To clean your microphone audio
scipy            # Required by noisereduce
textstat         # To calculate the reading grade-level of the scripts
pronouncing      # For syllable stress breakdown
soundfile
